{:paths ["src" "resources"]
 :deps  {org.clojure/clojure  {:mvn/version "1.10.0"}
         healthsamurai/matcho {:mvn/version "0.3.6"}
         cheshire             {:mvn/version "5.8.1"}}
 :aliases
 {:build {:extra-paths ["build"]
          :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
          :extra-deps {cambada {:git/url "https://github.com/HealthSamurai/cambada"
                                :sha     "a8ccf922e516e3249e96ae63dadd91d5f01e83f5"}}
          :main-opts  ["-m" "build"]}}}
